#playlist-container {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px 260px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

/* .btn {
  background-color: rgb(51, 13, 87);
  color: white;
  box-shadow: #282c34;
  padding: 8px;
  width: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.playlist-box {
  padding: 16px;
  margin: 16px;
  background-color: #61dafb;
}

#playlists-container {
  padding: 20px;
  background-color: yellow;
}

img {
  border-radius: 8px;
} */
